// My custom styling here

#user-row {
  background-color: $silver-pink;
}

#user-col {
  background-color: $dark-lavender;
}

#all-other-row {
  background-color: $old-lavender;
}

#all-other-col {
  background-color: $melon;
}

.card {
  background-color: $timberwolf;
}